table {
    width: 100%;
  }
  
body {
  margin: 10px;
}

mat-form-field {
  font-size: 14px;
  width: 100%;
}

.footer {
  text-align: center;
  margin: 8px;
  width: 100%;
}

.unit {
  text-align: center;
}

mat-card {
  max-width: 400px;
  margin-bottom: 8px;
}

mat-paginator {
  margin: 4px;
}