<body>
	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

		<ng-container matColumnDef="affordabilityProgram">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Affordability Program </th>
			<td mat-cell *matCellDef="let element"> {{element.program}} </td>
		</ng-container>
	
		<ng-container matColumnDef="projectCount">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Completed Projects </th>
			<td mat-cell class="unit" *matCellDef="let element"> {{element.constructedProjects | number}} </td>
		</ng-container>
	
		<ng-container matColumnDef="totalAffordableUnits">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Completed Affordable Units </th>
			<td mat-cell class="unit" *matCellDef="let element"> {{element.constructedAffordableUnits | number}} </td>
		</ng-container>
	
		<ng-container matColumnDef="totalUnits">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Completed Units </th>
			<td mat-cell class="unit" *matCellDef="let element"> {{element.constructedUnits | number}} </td>
		</ng-container>

		<ng-container matColumnDef="feeInLieu">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Fee in Lieu </th>
			<td mat-cell class="unit" *matCellDef="let element"> {{element.feeInLieu | currency}} </td>
		</ng-container>

		<ng-container matColumnDef="inProgressUnits">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> In Planning / Under Construction Units </th>
			<td mat-cell class="unit" *matCellDef="let element"> {{element.inProgressUnits | number}} </td>
		</ng-container>

		<ng-container matColumnDef="inProgressProjects">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> In Planning / Under Construction Projects </th>
			<td mat-cell class="unit" *matCellDef="let element"> {{element.inProgressProjects | number}} </td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row class="unit" *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
	
	
</body>
