<body>
	<h1>Austin Affordable Housing Data</h1>	
	<div>
		<mat-card>
			<mat-card-header>
				<mat-card-title>Query Options</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<mat-form-field class="program" appearance="fill">
					<mat-label>Affordability Program</mat-label>
					<mat-select [(value)]="selectedProgram">
						<mat-option *ngFor="let program of affordabilityPrograms" [value]="program">
							{{program}}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>(Optional) Enter a date range</mat-label>
					<mat-date-range-input [rangePicker]="picker">
						<input #startRef matStartDate placeholder="Start date" (dateChange)="onStartDateChanged(startRef.value)">
						<input #endRef matEndDate placeholder="End date" (dateChange)="onEndDateChanged(endRef.value)">
					</mat-date-range-input>
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-date-range-picker #picker></mat-date-range-picker>
				</mat-form-field>

				<mat-checkbox [checked]="includePipeline" (change)="onIncludePipeline($event.checked)">Include projects in planning and under construction</mat-checkbox>
			</mat-card-content>
			<mat-card-actions align="end">
				<button mat-button (click)="getData()">Query</button>
			</mat-card-actions>
		</mat-card>
		<mat-form-field appearance="standard">
			<mat-label>Filter Projects</mat-label>
			<input matInput (keyup)="applyFilter($event)" #input>
		</mat-form-field>

		<table mat-table [dataSource]="dataSource" matSort>
	
			<ng-container matColumnDef="project_name">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Project Name </th>
				<td mat-cell *matCellDef="let element"> {{ element.project_name }} </td>
				<td mat-footer-cell *matFooterCellDef> 
					<b>Queried Total</b>
				</td>
			</ng-container>

			<ng-container matColumnDef="address">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
				<td mat-cell *matCellDef="let element"> 
					<a href="{{ getMapLink(element.address) }}">{{ element.address }}</a> 
				</td>
			</ng-container>
	
			<ng-container matColumnDef="total_units">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Total Units </th>
				<td class="unit" mat-cell *matCellDef="let element"> {{ element.total_units | number }} </td>
				<td class="unit" mat-footer-cell *matFooterCellDef> {{ totalUnitCount | number }} </td>
			</ng-container>
	
			<ng-container matColumnDef="total_affordable_units">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Affordable Units </th>
				<td class="unit" mat-cell *matCellDef="let element"> {{ element.total_affordable_units | number }} </td>
				<td class="unit" mat-footer-cell *matFooterCellDef> {{ affordableUnitCount | number }} </td>
			</ng-container>

			<ng-container matColumnDef="status">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
				<td mat-cell *matCellDef="let element"> {{ removeNumberFromStatus(element.status) }} </td>
			</ng-container>

			<ng-container matColumnDef="developer">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Developer </th>
				<td mat-cell *matCellDef="let element"> {{ element.developer }} </td>
			</ng-container>
	
			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-footer-row *matFooterRowDef="footerColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			<tr class="mat-row" *matNoDataRow>
				<td class="mat-cell" colspan="4">No data matching the filter.</td>
			</tr>
		</table>
		<mat-paginator [pageSizeOptions]="[5, 10, 20, 50]"
			showFirstLastButtons 
			aria-label="Select page">
		</mat-paginator>
	</div>
	<div class="footer">
		<a href="https://data.austintexas.gov/Housing-and-Real-Estate/City-of-Austin-Affordable-Housing-Inventory/x5p7-qyuv">
			This website queries from the official City of Austin data portal.
		</a> 
	</div>
</body>