<body>
	<div>
		<h1>Austin Affordable Housing Data</h1>	
		<mat-card>
			<mat-card-header>
				<mat-card-title>Query Options</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<mat-form-field class="program" appearance="fill">
					<mat-label>Affordability Program</mat-label>
					<mat-select [(value)]="selectedProgram">
						<mat-option *ngFor="let program of affordabilityPrograms" [value]="program">
							{{program}}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<div class="dates">
					<mat-form-field appearance="fill">
						<mat-label>Start Year</mat-label>
						<mat-select [(value)]="selectedStartYear">
							<mat-option *ngFor="let year of years" [value]="year">
								{{year}}
							</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field appearance="fill">
						<mat-label>End Year</mat-label>
						<mat-select [(value)]="selectedEndYear">
							<mat-option *ngFor="let year of years" [value]="year">
								{{year}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<mat-checkbox [checked]="includePipeline" (change)="onIncludePipeline($event.checked)">Include projects in planning and under construction</mat-checkbox>
			</mat-card-content>
			<mat-card-actions align="end">
				<button mat-button (click)="getData()">Query</button>
			</mat-card-actions>
		</mat-card>
		<mat-tab-group dynamicHeight="true" mat-align-tabs="center">
			<mat-tab label="Table">
				<app-project-list [projects]="projects"></app-project-list>
			</mat-tab>
			<mat-tab label="Map"> 
				<app-map [projects]="projects"></app-map>
			</mat-tab>
			<mat-tab label="Summary">
				<app-summary></app-summary>
			</mat-tab>
		</mat-tab-group>		  
	</div>
	<div class="footer">
		<a href="https://data.austintexas.gov/Housing-and-Real-Estate/City-of-Austin-Affordable-Housing-Inventory/x5p7-qyuv">
			This website queries the official City of Austin data portal.
		</a> 
	</div>
</body>