<body>
	<h1>Austin Affordable Housing Data</h1>	
	<div>
		<mat-card>
			<mat-card-header>
				<mat-card-title>Query Options</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<mat-form-field class="program" appearance="fill">
					<mat-label>Affordability Program</mat-label>
					<mat-select [(value)]="selectedProgram">
						<mat-option *ngFor="let program of affordabilityPrograms" [value]="program">
							{{program}}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>(Optional) Enter a date range</mat-label>
					<mat-date-range-input [rangePicker]="picker">
						<input #startRef matStartDate placeholder="Start date" (dateChange)="onStartDateChanged(startRef.value)">
						<input #endRef matEndDate placeholder="End date" (dateChange)="onEndDateChanged(endRef.value)">
					</mat-date-range-input>
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-date-range-picker #picker></mat-date-range-picker>
				</mat-form-field>

				<mat-checkbox [checked]="includePipeline" (change)="onIncludePipeline($event.checked)">Include projects in planning and under construction</mat-checkbox>
			</mat-card-content>
			<mat-card-actions align="end">
				<button mat-button (click)="getData()">Query</button>
			</mat-card-actions>
		</mat-card>
		<a routerLink="/summary" routerLinkActive="active">View Aggregated Data</a>
		<app-map [projects]="projects"></app-map>
		<app-project-list [projects]="projects"></app-project-list>
	</div>
	<div class="footer">
		<a href="https://data.austintexas.gov/Housing-and-Real-Estate/City-of-Austin-Affordable-Housing-Inventory/x5p7-qyuv">
			This website queries from the official City of Austin data portal.
		</a> 
	</div>
</body>